@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
  height: 100%;
}
header, footer {
  text-align: center;
  display: flex;
  justify-content: center;
}
body {
  background-image: url(./images/Background1.jpeg);
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
}
a, a:visited {
  text-decoration: inherit;
  color: inherit;
}
a:hover {
  color: red;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
img {
  height: 200px;
  padding: 20px;
  animation: pop 5s;
}
@keyframes pop {
  0% {transform: scale(.1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
img:hover {
  transform: scale(3);
  transition: transform .5s ease-in-out;
}
nav li {
  border: 1px solid;
  border-color: white blue blue white;
  margin: 10px 10px;
  border-radius: 10px 10px;
  padding: 5px;
  background-color: lightblue;
  min-width: 150px;
  font-weight: bold;
  color: blue;
  margin-top: 75px;
}
nav li:hover{
  animation: pulse .6s infinite;
}
@keyframes pulse {
  25% {transform: scale(.9);}
  75% {transform: scale(1.1);}
}
div li {
  border: 1px solid;
  border-color: darkred white white darkred;
  margin: 10px 10px;
  border-radius: 10px 10px;
  padding: 5px;
  background-color: red;
  min-width: 150px;
  color: black;
  font-family: 'Roboto', sans-serif;
}
p {
  text-align: left;
  max-width: 400px;
  padding: 10px;
}
h1, h2 {
  border: 1px solid;
  border-color: white darkgreen darkgreen white;
  margin: 10px 10px;
  border-radius: 30px 30px;
  padding: 5px;
  background-color: green;
  width: 100%;
  color: yellow;
}
#top {
  position: fixed;
  width: 100%;
  top: 0;
}
#bottom {
  position: fixed;
  width: 100%;
  bottom: 0;

}
main {
margin-top: 125px;
margin-bottom:100px;
}
#nav {
  position: fixed;
  top: .1em;
}
aside {
  display: flex;
  justify-content: center;
}
table {
  display: flex;
  justify-content: center;
  border: 1px solid;
  border-color: darkgrey white white darkgrey;
  /* border-radius: 20px; */
  /* overflow: hidden; */
}
td,th {
  padding: 30px;
  border: 1px solid;
  border-color: darkgrey white white darkgrey;
}
table {
  margin-top: 20px;
  font: 25px bold;
}
tr {
  background-color: red;
  min-width: 150px;
  color: black;
  font-family: 'Archivo Black', sans-serif;
}
.toprow {
  background-color: purple;
}
.centerrow {
  background-color: orange;
}
.bottomrow {
  background-color: yellow;
}
